nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px 0;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
}

.container {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    gap: 7px;
    font-size: 24px;
    font-weight: 500 !important;

    i {
        font-size: 1.55rem;
    }
}

.buzz {
    color: #4232c2 !important;
}

.components {
    display: flex;
    align-items: center;
    gap: 100px;
}

.pages {
    display: flex;
    gap: 100px;
    align-items: center;

    a {
        color: rgba(0, 0, 0, .55);
        text-decoration: none;
        padding: 10px;
    }
}

.pages a:hover{
    background-color: #4232c2;
    color: white;
    border-radius: 15px;
}

.navbarIcon {
    display: flex;
    align-items: center;
    gap: 35px;
    font-size: 1.5rem;
    color: #4232c2
}

.hamburgerDiv {
    display: none;
}

.hamburger {
    display: inline-block;
    font-size: 33px;
}

@media (max-width: 991px) {
    .hamburgerDiv {
        display: flex;
        align-items: center;
        
    }

    .components {
        display: none;
    }
}

@media (max-width: 1526px) {
   
    .components{
        gap: 40px;
    }

    .pages{
        gap: 90px;
    }
}


@media (max-width: 1426px) {
   
    .components{
        gap: 50px;
    }

    .pages{
        gap: 70px;
    }
}

@media (max-width: 1426px) {
   
    .components{
        gap: 50px;
    }

    .pages{
        gap: 50px;
    }
}


@media (max-width: 1426px) {
   
    .components{
        gap: 50px;
    }

    .pages{
        gap: 30px;
    }
}