@import url('https://fonts.googleapis.com/css2?family=Aoboshi+One&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Mitr:wght@200;300;400;500;600;700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


.contactSection {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 5px;
    flex-direction: column;
}

.container {
    width: 70%;
}

.contact {
    background-color: #f6f9fe;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 440px;
}

.contact>.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.leftDiv p {
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 100;
    margin-bottom: 1rem;
    margin-top: 0;
    width: 420px;
}

.leftDiv p a {
    color: #4232c2;
    font-weight: 400 !important;
}

.leftDiv h1 {
    font-size: 40px;
    color: #4232c2 !important;
    padding-bottom: 1rem !important;
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}

.leftDiv h3 {
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 400;
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: .5rem;
    line-height: 1.2;
}

.rightDiv {
    display: flex;
    align-items: center;
    justify-content: flex-end
}

.rightDivImage {
    width: 530px;
    height: 530px;
    display: flex;
    justify-content: flex-end;

    img {
        width: 100%;
        height: 100%;
    }
}

.create {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.create h1 {
    font-size: 40px;
    color: #4232c2;
    padding-top: 1rem;
}

.create h2 {
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 400;
    font-size: 1.5rem;
}

.create p {
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 300;
    color: #6c757d;
    width: 860px;
}

.lastDiv {
    margin-top: 60px;
    display: flex;
    gap: 100px;
    width: 70%;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 400px;
}

.infoBox {
    display: flex;
    align-items: center;
    gap: 30px;
}

.iconBox {
    width: 80px;
    height: 80px;
    border: 1px solid rgb(207, 207, 207);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;

}

.photo {
    font-size: 2.5rem;
    color: #4232c2;
    border: 10px;
}

.text {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 150px;
}

.text p {
    font-size: 1.25rem;
}

.text span {
    color: #6c757d;
}



form {
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.inputRow {
    display: flex;
    flex-wrap: nowrap;
    gap: 4%;
    justify-content: space-between;
}

input {
    width: 100%;
    height: 50px;
    padding: 10px;
    font-size: 16px;
}

.inputRow>div {
    width: 100%;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
}

textarea {
    height: 120px;
    resize: vertical;
}

.submitButton {
    padding: 12px 20px;
    background-color: #6c63ff;
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 250px;
    transition: background-color 0.3s ease;
}

.submitButton:hover {
    background-color: #5548d8;
}

.btnBox {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.error {
    color: red;
    font-size: 13px;
    margin-top: 4px;
}




@media (max-width: 1100px) {
    .rightDivImage {
        height: 400px;
        width: 400px;
    }

    .create p {
        width: 750px;
    }
}



@media (max-width: 968px) {

    .contact>.container {
        flex-direction: column;
        align-items: flex-start;
    }

    .rightDivImage {
        height: 200px;
        width: 300px;
    }

    .lastDiv {
        flex-direction: column;
    }

    .leftDiv p {
        width: 670px;
    }

    .create p {
        width: 670px;
        text-align: left;
    }
}


@media (max-width: 797px) {

    .leftDiv p {
        width: 580px;
    }

    .create p {
        width: 580px;
        text-align: left;
    }
}


@media (max-width: 690px) {

    .leftDiv p {
        width: 450px;
    }

    .create p {
        width: 450px;
        text-align: left;
    }
}

@media (max-width: 615px) {


    .create p {
        width: 350px;
        text-align: left;
    }
}


@media (max-width: 530px) {

    .leftDiv p {
        width: 350px;
    }

    .create p {
        width: 350px;
        text-align: left;
    }

    .infoBox {
        width: 220px;
    }

    .info {
        width: 250px;
    }
}


@media (max-width: 440px) {

    .leftDiv p {
        width: 300px;
    }

    .create p {
        width: 300px;
        text-align: left;
    }


}

@media (max-width: 335px) {

    .leftDiv p {
        width: 250px;
    }

    .create p {
        width: 250px;
        text-align: left;
    }

}